<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mirea.homedepot.catalogservice.core.repository.ProductPhotoRepository">

    <resultMap id="ProductPhotoEntity"
               type="com.mirea.homedepot.catalogservice.core.model.entity.ProductPhotoEntity" autoMapping="true">
        <id property="id" column="id" jdbcType="BIGINT"/>
    </resultMap>

    <select id="findAll" resultMap="ProductPhotoEntity">
        SELECT *
        FROM catalog_data.product_photo;
    </select>

    <select id="findById" resultMap="ProductPhotoEntity">
        SELECT *
        FROM catalog_data.product_photo
        WHERE id = #{id, jdbcType=BIGINT};
    </select>

    <select id="findByListId" resultMap="ProductPhotoEntity">
        <bind name="" value=""/>
        SELECT *
        FROM catalog_data.product_photo
        <choose>
            <when test="listId.isEmpty()">
                ORDER BY id DESC
                LIMIT 10;
            </when>
            <otherwise>
                WHERE id IN
                <foreach collection='listId' item='id' open='(' separator=',' close=')'>
                    #{id, jdbcType=BIGINT}
                </foreach>
            </otherwise>
        </choose>
    </select>

    <select id="findTreePathByParentId" resultMap="ProductPhotoEntity">
        WITH RECURSIVE result AS (
            SELECT *
            FROM catalog_data.product_photo
            WHERE id = #{id, jdbcType=BIGINT}

            UNION ALL

            SELECT catalog_data.product_photo.*
            FROM catalog_data.product_photo
                     JOIN result
                          ON catalog_data.product_photo.parent_id = result.id
        )

        SELECT *
        FROM result;
    </select>

    <select id="findTreeIterationByParentId" resultMap="ProductPhotoEntity">
        SELECT *
        FROM catalog_data.product_photo
        WHERE parent_id = #{id, jdbcType=BIGINT};
    </select>

    <insert id="insertList" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO catalog_data.product_photo (id, url, parent_id)
        VALUES (#{url}, #{parentId});
    </insert>

    <insert id="insertAll" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO catalog_data.product_photo (id, url, parent_id) VALUES
        <foreach collection="entityList" item="entity" separator=",">
            (#{url}, #{parentId});
        </foreach>
    </insert>

    <update id="update" parameterType="com.mirea.homedepot.catalogservice.core.model.entity.ProductPhotoEntity">
        UPDATE catalog_data.product_photo SET
        <if test="url != null">
            url = #{url},
        </if>
        <if test="parentId != null">
            parent_id = #{parentId},
        </if>
        WHERE id = #{id};
    </update>

    <delete id="deleteById">
        DELETE
        FROM catalog_data.product_photo
        WHERE id = #{id};
    </delete>
</mapper>