server:
  port: 8041
  servlet:
    context-path: /

spring:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  datasource:
    url: jdbc:postgresql://ec2-52-212-228-71.eu-west-1.compute.amazonaws.com:5432/d94a4t5v068md8
    username: ejnhkhzhpeqize
    password: ca6c94fd8d5e974d00e2ef276cdf8eeb067a32939c700baf4809045214bb3186
    driver-class-name: org.postgresql.Driver
    type: com.zaxxer.hikari.HikariDataSource
    hikari:

      maximum-pool-size: 10
      # Настройка тайм-аута соединения = 2мин
      connection-timeout: 120000
      max-lifetime: 120000
      minimum-idle: 4
  #      validation-timeout: 120000

  liquibase:
    change-log: classpath:db/master.xml
    enabled: true

mybatis:
  configuration:
    map-underscore-to-camel-case: true
  mapper-locations: classpath:mybatis/mapper/*.xml

logging:
  level:
    com.spring.ibatis: DEBUG