web: java -jar target/catalog-service.jar

spring:
  datasource:
    url: jdbc:postgresql://ec2-63-32-248-14.eu-west-1.compute.amazonaws.com:5432/d67kl6gr8ituvl
    username: zkckztbnnwbljh
    password: 71f188c107146c909d685cb1de2fa6ab93c46dc1d79be71759acd49498df8c9a
    driver-class-name: org.postgresql.Driver
    type: com.zaxxer.hikari.HikariDataSource
    hikari:

      maximum-pool-size: 10
      # Настройка тайм-аута соединения = 2мин
      connection-timeout: 120000
      max-lifetime: 120000
      minimum-idle: 4
  #      validation-timeout: 120000

  liquibase:
    change-log: classpath:db/master.xml
    enabled: true

mybatis:
  configuration:
    map-underscore-to-camel-case: true
  mapper-locations: classpath:mybatis/mapper/*.xml

logging:
  level:
    com.spring.ibatis: DEBUG